<div class="container">
    <div class="row"> <h1 id='title'>Aleatory Healthy Meal Generetor</h1> </div>

    <div class="row">
        <div class="col-4">
            <div id='food'>
                <div class='foods'>
                    <img id="banana" src="../../assets/images/banana.png" alt="img" (click)="bringMealData($event)">
                </div>
                <div class='foods'>
                    <img id="apple" src="../../assets/images/manzana.png" alt="img" (click)="bringMealData($event)">
                </div>
                <div class='foods'>
                    <img id="chicken" src="../../assets/images/pollo.png" alt="img" (click)="bringMealData($event)">
                </div>
            </div>
        </div>

        <div class="meals col-7 mt-4" [ngStyle]="{'display': displayMeal}">
            <h1>Food: <i>{{food}}</i></h1>
            <h2 class="mb-3 pb-3">Meal Name: <i>{{actualMeal.name}}</i></h2>
            <section>
                <h2><u>Ingredients:</u></h2>
                <article class="mb-2 info" *ngFor="let ingredient of this.ingredients">
                    <b>- </b>{{actualMeal.ingredients}}
                </article>
                <h2 class="mt-4"><u>Method:</u></h2>
                <article class="mb-2 info" *ngFor="let method of this.method; let i=index">
                    <b>{{i}}- </b>{{method}}
                </article>
            </section>

            <button class="my-2 btn btn-info" (click)="mealData()" [routerLink]="['/meal']">Click for more info</button>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
