.container {
    background-color: black;
    min-height: 100vh;
}

#title {
    font-size: 60px;
    padding-left: 120px;
    font-style: oblique;
    color: green;
    text-shadow: 2px 2px greenyellow;
}

.foods {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 50px;
}

img {
    width: 100px;
    height: 100px;
    margin: 50px;
    cursor: pointer;
}

.meals {
    background-color: khaki;
    border-radius: 10px;
    box-shadow: 10px 10px -10px 3px dimgray;
}

.btn {
    margin-left: 230px;
}